nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 130px;
}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
/* profile icon styles */
.nav-right .user-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
/* notification icon styles */
.nav-right .notification-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
/* more icon styles */
.nav-right .more-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
/* upload icon styles */
.nav-right .upload-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.nav-middle .search-box input{
    width: 100%;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
}
.nav-middle .search-box img{
    width: 22px;
    margin-right: 10px;
}
.nav-right img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}